/** Search **/
.src-body{
	position:relative;
	}
.src-form input, .src-form span{
	border:none;
	box-shadow:none;
	}
.src-result{
	margin-bottom: -100%;
	z-index:1;
	}

.src-result ul li:first-child{
	border-top:none !important;
}
.src-result ul li:hover{
	color: #006ba6;
	background-color:#fafcfe;
	}
/** Search  End**/

/** Drop Down **/

.dd-body{
	
}